/benchmarks/*.html
/benchmarks/elm-stuff
/data/GraphemeBreakProperty.json
/elm-stuff
/size-benchmarks/*.gz
/size-benchmarks/*.js
/size-benchmarks/elm-stuff
/size-benchmarks/names-in-withSegmentation.txt
/size-benchmarks/names-in-withoutSegmentation.txt
/size-benchmarks/new-names.txt
/tests/VerifyExamples
